<!-- modal delete academic program -->
{% extends 'index-modals/modalBase.html' %}
{% block id_modal %}modalDAP{% endblock %}
{% block title %} Eliminar programa {% endblock %}
{% block url %}{% url 'index' %}{% endblock %}
{% block value-flag %}dap{% endblock %}
{% block modal-body-form %}
    <table class="table table-bordered table-dark">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Programa</th>
                <th scope="col">codigo</th>
            </tr>
        </thead>
        <tbody>
            {% for p in programs %}
                <tr>
                    <td><input type="radio" name="del" value="{{ p.cod }}"></td>
                    <td>{{ p.name }}</td>
                    <td>{{ p.cod }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{%  block action-btn-class %} btn btn-danger {% endblock %}
{%  block action-btn-text %} Eliminar {% endblock %}