<!-- finish service -->
{% extends 'index-modals/modalBase.html' %}
{% block id_modal %}modalFS{% endblock %}
{% block title %} Finalizar servicio {% endblock %}
{% block url %}{% url 'index' %}{% endblock %}
{% block value-flag %}fs{% endblock %}
{% block modal-body-form %}
    <div class="form-group row">
        <label for="fs_name" class="col-sm-4">Nombre:</label>
        <div class="col-sm-8">
            <p id="fs_name"></p>
        </div>
    </div>
    <div class="form-group row">
        <label for="fs_ced" class="col-sm-4">Cédula:</label>
        <div class="col-sm-8">
            <p id="fs_ced"></p>
            <input type="text" id="ifs_ced" name="ifs_ced" hidden>
        </div>
    </div>
    <div class="form-group row">
        <label for="fs_cod" class="col-sm-4">Codigo estudiantil:</label>
        <div class="col-sm-8">
            <p id="fs_cod"></p>
        </div>
    </div>
    <div class="form-group row">
        <label for="fs_et" class="col-sm-4">Hora de entrada:</label>
        <div class="col-sm-8">
            <p id="fs_et"></p>
        </div>
    </div>
    <div class="form-group row">
        <label for="fs_pc" class="col-sm-4">Equipo:</label>
        <div class="col-sm-8">
            <p id="fs_pc"></p>
        </div>
    </div>
{% endblock %}
{%  block action-btn-class %} btn btn-primary {% endblock %}
{%  block action-btn-text %} Finalizar {% endblock %}